<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Hugo LIEGEARD
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="{{ path('default_home') }}">LivreToo</a>.</strong> All rights reserved.
</footer>